In [39]:
import pandas as pd
import matplotlib.pyplot as plt
df_fitness_original = pd.read_csv("../data/smart_fitness_&_nutrition_analytics.csv")
df_fitness = df_fitness_original

Limpieza a realizar
-  1º Los nombres de las columnas, cambiare los nombres a minusculas, cambiando los espacios por barras bajas y eleminando los parentesis.
-  2º Quitar las mayusculas de los valores.
-  3º Cambiar los valores de "age" a numeros enteros.
-  4º Cambiar "fat_percentage" a valores enteros.

Cambio de nombres de columnas

In [40]:
def change_column_name(df):
	#lo primero que voy a hacer es cambiar los nombres de las columnas para dejarlos en minusculas y cambiar weight(kg) por weight_gk, lo mismo con lo otros que tengan parentesis
	#ya que creo que es mas facil y viable de utilizar de esta manera
	new_name = ""
	for i in df:
		#pones todo en minusculas
		new_name = i.lower()
		#cambiamos los espacios por barras bajas
		new_name = new_name.replace(" ", "_")
		#quitamos los parentesis
		new_name = new_name.replace("(", "")
		new_name = new_name.replace(")", "")
		df = df.rename(columns = {i: new_name})
	return df
df_fitness = change_column_name(df_fitness)
df_fitness.sample(1)

,age,gender,weight_kg,height_m,max_bpm,avg_bpm,resting_bpm,session_duration_hours,calories_burned,workout_type,...,cal_from_macros,pct_carbs,protein_per_kg,pct_hrr,pct_maxhr,cal_balance,lean_mass_kg,expected_burn,burns_calories_per_30_min_bc,burns_calories_bin
18276,58.28,Female,109.03,1.91,197.93,156.3,55.71,1.49,1071.01,Yoga,...,2439.65,0.49858,1.120792,0.707284,0.789673,1895.99,76.098605,1065.9758,1.033414e+20,High

Cambio nombres valores

In [41]:
def change_value_name(df):
	#ahora quiero quitar las mayusculas a todos los valores por el mismo motivo, mas facilidad de usar
	#recorremos el data frame sacando el nombre de las columnas como column
	for column in df:
		#recorremos los indices, para ello sacamos cuantas filas hay para usarlo como recorrido, en este caso del 0 al 19999, y usamos index como el indice
		for index in range(df.shape[0]):
			#hay valores que son string y otros que no, asi que usamos este if para cambiar solamente los valores string
			if type(df.at[index, column]) == str:
				#usamos el index y el column para sacar el valor, y lo guardamos en el mismo sitio pero con lower para quitar las mayusculas
				df.at[index, column] = df.at[index, column].lower()
	return df
df_fitness = change_value_name(df_fitness)
df_fitness.sample(1)

,age,gender,weight_kg,height_m,max_bpm,avg_bpm,resting_bpm,session_duration_hours,calories_burned,workout_type,...,cal_from_macros,pct_carbs,protein_per_kg,pct_hrr,pct_maxhr,cal_balance,lean_mass_kg,expected_burn,burns_calories_per_30_min_bc,burns_calories_bin
8135,57.11,female,63.97,1.52,169.78,128.86,51.86,1.73,2022.54,strength,...,1649.76,0.500558,1.285603,0.652985,0.758982,-168.54,47.641202,1156.2628,5.927933e+19,low

Cambio valores de "age"

In [46]:
def change_column_type_to_int(df, name):
	#vamos a cambiar la edad para que sean enteros, ya que va a poder ser un estudio mas facil y no creo que sea interesante decir que una persona tiene 34 años y medio
	df[name] = df[name].astype(int)
	return df
df_fitness = change_column_type_to_int(df_fitness, "age")
df_fitness.sample(1)

,age,gender,weight_kg,height_m,max_bpm,avg_bpm,resting_bpm,session_duration_hours,calories_burned,workout_type,...,cal_from_macros,pct_carbs,protein_per_kg,pct_hrr,pct_maxhr,cal_balance,lean_mass_kg,expected_burn,burns_calories_per_30_min_bc,burns_calories_bin
15494,43,female,42.2,1.64,162.12,148.14,59.05,1.33,1276.8,cardio,...,2047.21,0.496793,2.451185,0.864364,0.913768,105.2,34.596676,905.1714,6.873388e+19,medium

Cambio valores de "fat_percentage"

In [49]:

#para este caso de estudio voy a pasar fat_percentage a int, ya que si no vamos a tener una divercidad demasiado grande con tantos decimales
df_fitness = change_column_type_to_int(df_fitness, "fat_percentage")
df_fitness["fat_percentage"].sample(2)

2491    22
1415    17
Name: fat_percentage, dtype: int64

Vamos a guardar nuestra nueva tabla limpia

In [50]:
df_fitness.to_csv("../data/clean_smart_fitness_&_nutrition_analytics.csv")