In [27]:
import pandas as pd
import matplotlib.pyplot as plt
df_fitness_original = pd.read_csv("../data/smart_fitness_&_nutrition_analytics.csv")
df_fitness = df_fitness_original

Limpieza a realizar
-  1º Los nombres de las columnas, cambiare los nombres a minusculas, cambiando los espacios por barras bajas y eleminando los parentesis.
-  2º Quitar las mayusculas de los valores.
-  3º Cambiar los valores de "age" a numeros enteros.
-  4º Cambiar "fat_percentage" a valores enteros.

Cambio de nombres de columnas

In [28]:
def change_column_name(df):
	#lo primero que voy a hacer es cambiar los nombres de las columnas para dejarlos en minusculas y cambiar weight(kg) por weight_gk, lo mismo con lo otros que tengan parentesis
	#ya que creo que es mas facil y viable de utilizar de esta manera
	new_name = ""
	for i in df:
		#pones todo en minusculas
		new_name = i.lower()
		#cambiamos los espacios por barras bajas
		new_name = new_name.replace(" ", "_")
		#quitamos los parentesis
		new_name = new_name.replace("(", "")
		new_name = new_name.replace(")", "")
		df = df.rename(columns = {i: new_name})
	return df
df_fitness = change_column_name(df_fitness)
df_fitness.sample(1)

,age,gender,weight_kg,height_m,max_bpm,avg_bpm,resting_bpm,session_duration_hours,calories_burned,workout_type,...,cal_from_macros,pct_carbs,protein_per_kg,pct_hrr,pct_maxhr,cal_balance,lean_mass_kg,expected_burn,burns_calories_per_30_min_bc,burns_calories_bin
13910,30.95,Male,63.02,1.8,166.22,156.75,65.89,0.6,395.28,Yoga,...,1861.16,0.502418,1.473024,0.905611,0.943027,1173.72,47.18048,412.128,7.410642e+19,Medium

Cambio nombres valores

In [29]:
def change_value_name(df):
	#ahora quiero quitar las mayusculas a todos los valores por el mismo motivo, mas facilidad de usar
	#recorremos el data frame sacando el nombre de las columnas como column
	for column in df:
		#recorremos los indices, para ello sacamos cuantas filas hay para usarlo como recorrido, en este caso del 0 al 19999, y usamos index como el indice
		for index in range(df.shape[0]):
			#hay valores que son string y otros que no, asi que usamos este if para cambiar solamente los valores string
			if type(df.at[index, column]) == str:
				#usamos el index y el column para sacar el valor, y lo guardamos en el mismo sitio pero con lower para quitar las mayusculas
				df.at[index, column] = df.at[index, column].lower()
	return df
df_fitness = change_value_name(df_fitness)
df_fitness.sample(1)

,age,gender,weight_kg,height_m,max_bpm,avg_bpm,resting_bpm,session_duration_hours,calories_burned,workout_type,...,cal_from_macros,pct_carbs,protein_per_kg,pct_hrr,pct_maxhr,cal_balance,lean_mass_kg,expected_burn,burns_calories_per_30_min_bc,burns_calories_bin
1063,30.39,female,64.51,1.87,181.93,142.2,67.05,0.64,634.18,strength,...,1606.27,0.498223,1.252984,0.654161,0.781619,1250.82,51.197087,439.6928,7.422988e+19,medium

Cambio valores de "age"

In [30]:
def change_column_type_to_int(df, name):
	#vamos a cambiar la edad para que sean enteros, ya que va a poder ser un estudio mas facil y no creo que sea interesante decir que una persona tiene 34 años y medio
	df[name] = df[name].astype(int)
	return df
df_fitness = change_column_type_to_int(df_fitness, "age")
df_fitness.sample(1)

,age,gender,weight_kg,height_m,max_bpm,avg_bpm,resting_bpm,session_duration_hours,calories_burned,workout_type,...,cal_from_macros,pct_carbs,protein_per_kg,pct_hrr,pct_maxhr,cal_balance,lean_mass_kg,expected_burn,burns_calories_per_30_min_bc,burns_calories_bin
11572,35,male,44.59,1.62,196.17,157.66,64.8,0.56,676.98,hiit,...,1376.61,0.502306,1.533752,0.706858,0.803691,523.02,35.791655,377.3728,6.339836e+19,low

Cambio valores de "fat_percentage"

In [31]:

#para este caso de estudio voy a pasar fat_percentage a int, ya que si no vamos a tener una divercidad demasiado grande con tantos decimales
df_fitness = change_column_type_to_int(df_fitness, "fat_percentage")
df_fitness["fat_percentage"].sample(2)

14456    22
7477     31
Name: fat_percentage, dtype: int64

Borrado de las columnas name_of_exercise, sets, reps, benefit

In [32]:
df_fitness = df_fitness.drop(columns = ["name_of_exercise", "sets", "reps", "benefit", "target_muscle_group", "equipment_needed", "difficulty_level", "body_part", "type_of_muscle", "workout"])
for i in df_fitness:
	print(i)

age
gender
weight_kg
height_m
max_bpm
avg_bpm
resting_bpm
session_duration_hours
calories_burned
workout_type
fat_percentage
water_intake_liters
workout_frequency_days/week
experience_level
bmi
daily_meals_frequency
physical_exercise
carbs
proteins
fats
calories
meal_name
meal_type
diet_type
sugar_g
sodium_mg
cholesterol_mg
serving_size_g
cooking_method
prep_time_min
cook_time_min
rating
burns_calories_per_30_min
bmi_calc
cal_from_macros
pct_carbs
protein_per_kg
pct_hrr
pct_maxhr
cal_balance
lean_mass_kg
expected_burn
burns_calories_per_30_min_bc
burns_calories_bin

Vamos a guardar nuestra nueva tabla limpia

In [33]:
df_fitness.to_csv("../data/clean_smart_fitness_&_nutrition_analytics.csv")